<div class="container-fluid">
  <nb-card>
    <nb-card-header>
      <h1>Gestión de GENERICO</h1>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <nb-select placeholder="VIGENCIA" outline status="success">
            <nb-option value="1">2016</nb-option>
            <nb-option value="2">2017</nb-option>
            <nb-option value="3">2018</nb-option>
            <nb-option value="4">2019</nb-option>
          </nb-select>
        </div>
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <nb-select placeholder="Gestionar" outline status="success">
            <nb-option value="1">Rubros Presupuestales</nb-option>
            <nb-option value="2">Apropiaciones Iniciales</nb-option>
            <nb-option value="3">Fuentes de Financiamiento</nb-option>
            <nb-option value="4">Producto</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <nb-card>
            <nb-card-header>
              <h1>Tarjetas xd</h1>
            </nb-card-header>
            <nb-card-body> 
              <p>lala</p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>    
</div>
