<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header class="nbheader">
          <h3 class="nbheadertext">{{ "MODIF.modificacion_fuentes" | translate }}</h3>
        </nb-card-header>
        <nb-card-body>
            <form>
                <div class="form-group">
                  <label>{{ "MODIF.tipomod" | translate }}</label>
                  <nb-select id="select_tipo_modificacion" placeholder="Tipo Modificacion" outline status="success" >
                      <nb-option *ngFor="let tm of tipomodificacion" [value]="tm" >{{ tm }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group">
                  <label>{{ "MODIF.tipofuente" | translate }}</label>
                  <nb-select id="select_tipo_fuente" placeholder="Tipo Fuente" outline status="success" >
                      <nb-option *ngFor="let tf of tipofuente" [value]="tf" >{{ tf }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group">
                  <label>{{
                    "GLOBAL.descripcion" | translate
                  }}</label>
                  <input nbInput type="text-area" class="form-control" placeholder="Inserte descripcion"/>
                </div>
                <div class="row form-group">
                <div class=" col-md-6">
                    <label>{{
                        "MODIF.tipo_documento" | translate
                      }}</label>
                  <nb-select id="select_tipo_documento" placeholder="Tipo Documento" outline status="success" >
                    <nb-option *ngFor="let td of tipodocumento" [value]="td" >{{ td }}</nb-option>
                  </nb-select>
                </div>
                <div class=" col-md-6">
                    <label>{{
                        "MODIF.numero_documento" | translate
                      }}</label>
                      <input nbInput type="text" class="form-control" placeholder="Inserte numero documento"/>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                    <label>{{
                        "MODIF.fecha_documento" | translate
                      }}</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="fechadocumento" type="date">
                </div>
              </div>
               
              </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header class="nbheader">
              <h3 class="nbheadertext">{{ "MODIF.modificando_fuente" | translate }} 666</h3>
            </nb-card-header>
            <nb-card-body>
              <!-- formulario para registro de traslados -->
              <form >
              <h3>{{ "MODIF.valor" | translate }}</h3>
              <div class="row form-group">

                <div class="col-md-6"> 
                  <label>{{ "MODIF.valor" | translate}}</label>
                  <input nbInput type="text" class="form-control" placeholder="Inserte valor total" name="valor_total" [(ngModel)]="traslado.valor_total"/>
                </div>
              </div>
              <h3>{{ "MODIF.rubro_origen" | translate }}</h3>
              <div class="row form-group">
              <div class="col-md-12"> 
                  <label>{{ "MODIF.rubro_origen" | translate}}</label>
                  <nb-select id="select_tr_rubro_origen" placeholder="Seleccione rubro origen" outline status="success" >
                      <nb-option *ngFor="let ro of traslado.rubro_origen.rubros_disponibles" [value]="ro" >{{ ro }}</nb-option>
                  </nb-select>
                </div>
              <div class="col-md-6">
                  <label>{{ "MODIF.rubro_dependencia" | translate}}</label>
                  <nb-select id="select_tr_dependencia" placeholder="Seleccione dependencia" outline status="success" >
                      <nb-option *ngFor="let dep of traslado.rubro_origen.dependencias" [value]="dep" >{{ dep }}</nb-option>
                  </nb-select>
              </div>
              <div class="col-md-6">
                  <label>{{ "MODIF.valor" | translate}}</label>
                  <input nbInput type="text" class="form-control" placeholder="Inserte el valor" name="valor_origen" [(ngModel)]="traslado.rubro_origen.valor"/>
              </div>
              </div>
            
              <h3>{{ "MODIF.rubro_destino" | translate }}</h3>
              <div class="row form-group">
                  <div class="col-md-12"> 
                      <label>{{ "MODIF.rubro_destino" | translate}}</label>
                      <nb-select id="select_tr_rubro_destino" placeholder="Seleccione rubro destino" outline status="success" >
                          <nb-option *ngFor="let rd of traslado.rubro_destino.rubros_disponibles" [value]="rd" >{{ rd }}</nb-option>
                      </nb-select>
                    </div>
                  <div class="col-md-12">
                      <label>{{ "MODIF.rubro_dependencia" | translate}}</label>
                      <nb-select id="select_tr_rd_dependencia" placeholder="Seleccione dependencia" outline status="success" >
                          <nb-option *ngFor="let dep of traslado.rubro_destino.dependencias" [value]="dep" >{{ dep }}</nb-option>
                      </nb-select>
                  </div>
              </div>
            </form>
            </nb-card-body>
          </nb-card>
            

            
    </div>
  </div>
</div>