<div class="container-fluid">
<div class="row">
   <div class="col-md-12">
         <nb-card>
               <nb-card-header>
                  <h1>Consulta de Rubros</h1>
               </nb-card-header>
               <nb-card-body>
                  <h2>Detalle Rubro {{rubro|json}}</h2>
               </nb-card-body>
             </nb-card>
            
   </div>
 
  </div>

<div class="row">
  <div class="col-md-6 col-lg-6 col-xxxl-6">
      <nb-card>
          <nb-card-header>
             <h1>Arbol Rubros</h1>
          </nb-card-header>
        </nb-card>

  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-6">
      <nb-card>
          <nb-card-header>
             <h1>Informacion Rubro</h1>
          </nb-card-header>
          <nb-card-body>
              <!-- ngx dinamic form es una version adaptada del formulario dinamico de ng2, que se usa en campus -->
              <ngx-dinamicform [normalform]="formInfoRubro"
               [modeloData]="info_rubro" (result)="validarForm($event)"
               [clean]="clean" >
               </ngx-dinamicform>
          </nb-card-body>
        </nb-card>

    </div>

</div>
</div>