<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- fuente -->

        <div class="col-md-12">
          <!-- info fuente -->
              <nb-stepper #steep orientation="vertical">
                  <nb-step label="{{'FUENTE_FINANCIAMIENTO.asignar_fuente' | translate }}">

                    <div>
                            <ngx-dinamicform [normalform]="formInfoFuente" [modeloData]="info_fuente" (result)="validarForm($event)"
                                    [clean]="clean">
                                  </ngx-dinamicform>
                    </div>
                  </nb-step>
                  <nb-step label="{{'RUBRO.asignar_rubro' | translate }}">

                    <div class="col-md-12 col-lg-12 col-xxxl-12">
                        <div class="row">
                          <ngx-arbol (rubroSeleccionado)="receiveMessage($event)" [optionSelect]="optionView"></ngx-arbol>            
                        </div>
                        <div class="row">
                      <!-- dependencias -->
                      <div class="col-md-12" *ngFor="let rubro of rubrosAsignados">
                          <div>
                            <h5>{{'GLOBAL.rubro' | translate}}: {{rubro.Codigo}} {{rubro.Nombre}}</h5>
                          </div>
                          <div *ngFor="let dependenciasAsignadas of rubro.Dependencias">
                            <div class="row form-group">
                              <label for="" class="col-md-4">{{'GLOBAL.dependencia' | translate}}</label>
                              <label for="valor" class="col-md-4 offset-1">{{'GLOBAL.valor' | translate}}</label>
                              <label for="" class="col-md-4">
                                <span class=".glyphicon .glyphicon-remove"></span>
                              </label>
                            </div>
                            <div class="row">
                              <select (change)="asignarDependencia($event.target.value, rubro)" [(ngModel)]="dependenciaSeleccionada"
                                class="form-control col-md-4 dropdown">
                                <option *ngFor="let dependencia of dependencias; let value = index;" [value]="value" >{{dependencia.Nombre}}
                                </option>
                              </select>
                              <input type="number" name="valor" id="" class="form-control col-md-4 offset-1">
                              <button (click)="quitarDependencia($event, rubro)"
                              class="btn btn-sm btn-outline-danger col-md-2 offset-1">{{'FUENTE_FINANCIAMIENTO.remove-dependencia' | translate}}</button>
              
                            </div>
                          </div>
                          <div class="form-group mt-2">
                            <button (click)="agregarDependencia($event, rubro)"
                              class="btn btn-outline-primary col-md-12">{{'FUENTE_FINANCIAMIENTO.add-dependencia' | translate}}</button>
                            <button
                              class="btn btn-outline-danger col-md-12 mt-1">{{'FUENTE_FINANCIAMIENTO.remove-rubro' | translate}}</button>
                          </div>
                        </div>              
                        </div>
                      </div>
                      <div align="right" class="form-group">
                          <button class="btn btn-outline-primary btn-md " nbStepperPrevious 
                              >{{'GLOBAL.regresar' | translate}}</button>
                          <button class="btn btn-outline-success btn-md offset-1 " (click)="registrar()">{{'GLOBAL.guardar' | translate}}</button>
                      </div>
                  </nb-step>
                </nb-stepper>

        </div>
        <!-- arbol -->

      </div>
    </div>
  </div>
</div>