<div class="col-md-12">
  <h3>Productos</h3>
      <!-- para cada uno de los productos asignados -->
      <table class="table table-hover">
          <thead class="thead-dark">
              <th scope="col">{{'GLOBAL.producto' | translate}}</th>
              <th scope="col">{{'GLOBAL.porcentaje' | translate}}</th>
              <th scope="col">{{'GLOBAL.quitar_producto' | translate}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let p of rubro.Productos;let indice=index;">
                <td><select [(ngModel)]="p.producto"  (ngModelChange)="asignarProducto(p.producto, p.porcentaje , indice)"
                  class="form-control  dropdown" >
                  <option *ngFor="let prod of productos; let ip=index;" [ngValue]="productos[ip]" >{{prod.Nombre}}
                  </option>
                </select></td>
                <td><input type="number" name="porcentaje" min="1" max="100" id="porcentaje" class="form-control" onkeydown="return false" [(ngModel)]="p.porcentaje" (ngModelChange)="asignarProducto(p.producto, p.porcentaje , indice)" ></td>
                <td><button type="submit" class="btn btn-danger" (click)="eliminarProducto($event, p)">
                    {{'GLOBAL.eliminar' | translate }}
                  </button></td>
              </tr>
          </tbody>
          <button (click)="agregarProducto($event)"
        class="btn btn-outline-primary col-md-12">{{'RUBRO.add-producto' | translate}}</button>
      </table>
      <pre>{{rubro.Productos | json}}</pre>
        
</div>

