<!-- 

<div class="container-fluid">
        <div class="row">
          <nb-card>
            <nb-card-header>
              <h1>
                Modificaciones 
              </h1>
            </nb-card-header>
            <nb-card-body>
              <nb-tabset  (changeTab)="onChangeTab($event)">
               
                <nb-tab tabTitle="OTRAS">
                  <ngx-rubros [optionPlanCuentas]="selectedOption"> </ngx-rubros>
                </nb-tab>
                <nb-tab tabTitle="OTRAS2" >
                  <ngx-apropiaciones [optionPlanCuentas]="selectedOption" [vigenciaSeleccionada]="VigenciaActual">
                  </ngx-apropiaciones>
                </nb-tab>
                <nb-tab tabTitle="Fuentes" > -->
                    <ngx-modificacion-fuentes>
                    </ngx-modificacion-fuentes>
<!--                   </nb-tab>
                <nb-tab tabTitle="OTRAS3">
                  <ngx-fuentes></ngx-fuentes>
                </nb-tab>
      
              </nb-tabset>
            </nb-card-body>
          </nb-card>
        </div>
      </div> -->