<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <arbol (rubroSeleccionado)="receiveMessage($event)" [updateSignal]="eventChange"> </arbol>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <nb-card *ngIf="insertarRubro">
                <nb-card-header>
                  <h1>{{'GLOBAL.registrar-rubro' | translate }}</h1>
                </nb-card-header>
                <nb-card-body>
                  <ngx-dinamicform [normalform]="formInfoRubro" [modeloData]="info_rubro" (result)="validarForm($event)"
                    [clean]="clean">
                  </ngx-dinamicform>
                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-success btn-block" (click)="aniadirNodo()">
                        {{'GLOBAL.cancelar' | translate }}
                      </button>
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-success btn-block" (click)="cleanForm()">
                        {{'GLOBAL.limpiar' | translate }}
                      </button>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>

              <nb-card *ngIf="!insertarRubro">
                <nb-card-header>{{'GLOBAL.detalle-rubro' | translate }}</nb-card-header>
                <nb-card-body>
                  <form>
                    <div class="form-group">
                      <label>{{'GLOBAL.nombre-rubro' | translate }}</label>
                      <input type="text" class="form-control" [value]="rubroSeleccionado.Nombre || ''" disabled />
                    </div>
                    <div class="form-group">
                      <label>{{'GLOBAL.codigo-rubro' | translate }}</label>
                      <input type="text" class="form-control" [value]="rubroSeleccionado.Codigo || ''" disabled />
                    </div>

                    <!-- <div class="form-group">
                      <label>Unidad Ejecutora</label>
                      <input type="text" class="form-control" placeholder="Unidad Ejecutora" disabled />
                    </div>
                    <div class="form-group">
                      <label>Entidad</label>
                      <input type="text" class="form-control" placeholder="Entidad" disabled />
                    </div> -->
                    <div class="form-group">
                      <label>{{'GLOBAL.descripcion' | translate }}</label>
                      <textarea class="form-control" placeholder="Descripción" [value]="rubroSeleccionado.Descripcion || ''"
                        disabled></textarea>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-success btn-block" (click)="aniadirNodo()">
                          {{'GLOBAL.add-nodo' | translate }}
                        </button>
                      </div>
                      <div class="col">
                        <button *ngIf="rubroSeleccionado.Codigo" type="submit" class="btn btn-danger btn-block" (click)="deleteRubro()">
                          {{'GLOBAL.eliminar' | translate }}
                        </button>
                      </div>
                    </div>
                  </form>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row"></div>
</div>