<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <h1>Gestión de Rubros</h1>
        </nb-card-header>
        <nb-card-body>
            <div class="row selectVigencia">
              <div class="col">
                  <nb-select placeholder="Gestion de " status="success" hero fullWidth="true">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                      <nb-option value="3">Option 3</nb-option>
                      <nb-option value="4">Option 4</nb-option>
                    </nb-select>
              </div>
              <div class="col">
                  <nb-select placeholder="Vigencia" status="success" hero >
                      <nb-option value="1">2016</nb-option>
                      <nb-option value="2">2017</nb-option>
                      <nb-option value="3">2018</nb-option>
                      <nb-option value="4">2019</nb-option>
                    </nb-select>
              </div>
              </div>
           <div class="row">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
                  <nb-card>
                    <nb-card-header>
                      Arbol Rubros
                    </nb-card-header>
                    <nb-card-body>
                      <arbol-rubros
                        (rubroSeleccionado)="receiveMessage($event)"
                      ></arbol-rubros>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                  <nb-card *ngIf="insertarRubro">
                    <nb-card-header>
                      <h1>Registrar Rubro</h1>
                    </nb-card-header>
                    <nb-card-body>
                      <!-- ngx dinamic form es una version adaptada del formulario dinamico de ng2, que se usa en campus -->
                      <ngx-dinamicform
                        [normalform]="formInfoRubro"
                        [modeloData]="info_rubro"
                        (result)="validarForm($event)"
                        [clean]="clean"
                      >
                      </ngx-dinamicform>
                    </nb-card-body>
                  </nb-card>
            
                  <nb-card *ngIf="!insertarRubro">
                    <nb-card-header>Detalle del Rubro</nb-card-header>
                    <nb-card-body>
                      <form>
                        <div class="form-group">
                          <label>Nombre Rubro</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="rubroSeleccionado.Nombre"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>Codigo Rubro</label>
                          <input
                            type="text"
                            class="form-control"
                            [placeholder]="rubroSeleccionado.Codigo"
                            readonly
                          />
                        </div>
            
                        <div class="form-group">
                          <label>Unidad Ejecutora</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Unidad Ejecutora"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>Entidad</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entidad"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>Descripción</label>
                          <textarea
                            class="form-control"
                            placeholder="Descripción"
                            readonly
                          ></textarea>
                        </div>
                        <div class="row">
                          <div class="col">
                            <button type="submit" class="btn btn-success btn-block">
                              Añadir Nodo
                            </button>
                          </div>
                          <div class="col">
                            <button type="submit" class="btn btn-success btn-block">
                              Editar
                            </button>
                          </div>
                          <div class="col">
                              <button type="submit" class="btn btn-success btn-block">
                                Asignar Apropiación
                              </button>
                            </div>
                        </div>
                      </form>
                    </nb-card-body>
                  </nb-card>
                </div>
               </div>
                </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">



  </div>
</div>
